<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jackyshan.www.pregnantmotherate">

    <!--安装图标快捷方式-->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <!--读设置-->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />

    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!--网络访问权限-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--检测联网方式，区分用户设备使用的是2G、3G或是WiFi-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!--获取用户设备的mac地址，在平板设备上，无法通过imei标示设备，我们会将mac地址作为用户的唯一标识-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--获取用户设备的IMEI，通过IMEI和mac来唯一的标识用户。-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

    <application
        android:name=".General.singleton.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--数据库-->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="db.sqlite3" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="5" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.jackyshan.www.pregnantmotherate.Sections.Home.Model.RecipeModel" />

        <!--程序入口Activity-->
        <activity
            android:name=".General.Config.WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--声明Activity-->
        <activity android:name=".Sections.Home.Activity.HomeActivity" />
        <activity android:name=".Sections.Home.Next.Detail.Activity.RecipeDetailActivity" />
        <activity android:name=".Sections.Search.Activity.SearchActivity" />
        <activity android:name=".Sections.Setting.Activity.SettingActivity" />
        <activity android:name=".Sections.Setting.Next.Star.Activity.StarRecipesActivity" />
    </application>

</manifest>
